@charset "UTF-8";

@font-face {
  font-family: "glory";
  font-style: normal;
  font-weight: 100;
  src: local("glory"), url(../public/fonts/Glory-Thin.ttf);
}

@font-face {
  font-family: "glory";
  font-style: normal;
  font-weight: 200;
  src: local("glory"), url(../public/fonts/Glory-ExtraLight.ttf);
}

@font-face {
  font-family: "glory";
  font-style: normal;
  font-weight: 300;
  src: local("glory"), url(../public/fonts/Glory-Light.ttf);
}

@font-face {
  font-family: "glory";
  font-style: normal;
  font-weight: 400;
  src: local("glory"), url(../public/fonts/Glory-Regular.ttf);
}

@font-face {
  font-family: "glory";
  font-style: normal;
  font-weight: 500;
  src: local("glory"), url(../public/fonts/Glory-Medium.ttf);
}

@font-face {
  font-family: "glory";
  font-style: normal;
  font-weight: 600;
  src: local("glory"), url(../public/fonts/Glory-SemiBold.ttf);
}

@font-face {
  font-family: "glory";
  font-style: normal;
  font-weight: 700;
  src: local("glory"), url(../public/fonts/Glory-Bold.ttf);
}

@font-face {
  font-family: "glory";
  font-style: normal;
  font-weight: 800;
  src: local("glory"), url(../public/fonts/Glory-ExtraBold.ttf);
}
